body{
    background-color: white;
}

#header{
    width: 500px;
    background-color: white;
    margin: 1% auto;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
#header div{
    padding: 0.8rem 0;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #E1835E;
    border: #E1835E 2px solid;
    cursor: pointer;
}
#header div:hover{
    color: black;
    background: transparent;
}
.paragraph{
    width: 1000px;
    border: gray 2px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 1%;
    padding: 10px;
    justify-content: space-between;
}
.paragraph.banner{
    align-items: center !important;
}
.section{
    flex: 1 1 23%;
    height: 180px;
    border: gray 1px solid;
    background-color: white;
    text-align: center;
    font-size: 200%;
    color: #5E1A54;
    cursor: pointer;
    border-radius: 10px;
   
}
.section1{
    width: 200px;
    height: 180px;
    background-color: white;
    text-align: center;
    color: white;
}
.section2{
    flex: 1 1 23%;
    width: 700px;
    background-color: white;
    text-align: left;
    color: black; 
    gap: 0px 0.2%; 
}
#add1{
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 1%;
}
#crossbutton,#crossbutton2,#crossbutton3{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 88%;
    margin-top: -3.5%;
    cursor: pointer;
}
.cross{
    position: relative;
    bottom: 10%;
    right: 10%;
}
#crossbutton2{
    margin-left: 110%;
    margin-top: -6%;
}

.add2LeftSide{
    width: 180px;
    height: 500px;
    left: 1.3%;
    top: 100px;
    position: absolute;
}
.carousel {
    padding: 20px;
    position: fixed;
    bottom: -10px;
    left: 20px;
}

.carousel carousel>* {
    flex: 0 0 auto;
}

.carousel figure {
    margin: 0;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel figure .block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 20px;
}

.carousel figure .block:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
#tem,#loc{
  margin-top: 10%;
  font-size: 200%;  
}
#crossbutton3{
    right: 0;
    top: 0;
    position: absolute;
}

.carousel figure #block1{
    background-color: #41A29A;
    text-align: center; 
    font-size: larger;
}
.carousel figure #block2{
    background-color: #41A29A;
}
.carousel figure #block3{
    background-color: #41A29A; 
    text-align: center; 
    font-size: larger;
}
.circleAd{

    margin-top: -12px;
    margin-left: -12px;
}
.image1{
    position: absolute;
    margin-top: -1px;
    margin-left: 50px;
}
.image2{
    position: absolute;
}
.imageContant img{
    margin-top: 20px;
}
.paragraph .section:hover{
    color: black;
    background-color: #EAEAEA;
}
